body,div,form,input,textarea,td,th,embed,object{margin:0;padding:0;FONT-FAMILY: Arial,Helvetica,sans-serif;font-size:12px;word-break:break-all;}
body, ul,li, dl, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; }
body,td,th{color:#4d4d4d;}
body{margin:0px;padding:0px;}
img{border:0;}
a{color: #5d5d5d;text-decoration: none;}
a:hover{color: #900;}
a:link{text-decoration: none;}
a:active{text-decoration: none;}
ul{margin:0px;padding:0px;}
li{list-style:none;}
body{background:#EEEEEE;}


#header{margin:0 auto;background:#fff; margin-top:10px;}
#header #top{background:#fff url(http://www.w1.cn/themes/weyii/20110315/header_top_bg.jpg) repeat-x left top;height:27px;line-height:27px;}
#header #top .topdiv{width:950px;margin:0 auto;}
#header #top .fav{float:left;margin-left:0px;width:100px;}
#header #top .fav a{color:#cc0066;padding-left:15px;}
#header #top .fav a.icon{color:#cc0066;background:url(http://www.w1.cn/themes/weyii/20110315/header_top_dot.gif) no-repeat left 10%;padding-left:15px;}
#header #top .top_menu{float:right;margin-right:0px;width:780px;}
#header #top .top_menu ul{float:right;}
#header #top .top_menu li{float:left;margin-left:10px;}
#header #top .top_menu .dot{background:url(http://www.w1.cn/themes/weyii/20110315/header_top_line.gif) no-repeat left center;width:5px;height:12px;margin-top:7px!important;margin-top:5px;}
#header #top .top_menu li a{color:#cc0066;}
#header #top .top_menu li a.flow{color:#cc0066;background-image:url(http://www.w1.cn/themes/weyii/20110315/flow.gif) ;background-repeat:no-repeat ;background-position:left 1%;padding-left:20px;}



#topnavbox{border: #E48B88 2px solid; z-index: 1; background: #fff; position:absolute; padding:5px 15px 5px 15px;width: 450px;top: 24px!important;top: 25px;display:none;margin-left:-390px;}
#topnavbox a:hover {color: #E48B88}
#topnavbox p {float: none; margin: 0px; line-height:12px; border-bottom: #dedede 1px dashed; height: auto;
padding:10px 0px 10px 0px;}
#topnavbox p .p2 {border: 0px;}
#topnavbox p a{color: #E48B88; margin-right: 10px}
#topnavbox p a.title {font: bold 14px "宋体"}
.menu_arrow {padding:5px 15px 5px 7px;Z-INDEX: 3; BACKGROUND: url(/themes/weyii/20110315/m_down.gif) no-repeat right center;  POSITION: relative;width:100px;line-height:27px;height:24px;overflow:hidden;}
.menu_arrowHover {border: #E48B88 2px solid;Z-INDEX: 3;border-bottom:#e32a06 0px solid;padding:5px 13px 5px 5px;background: url(/themes/weyii/20110315/m_up.png) #fff no-repeat right center;  POSITION: relative;}
#topnavbox2{border: #E48B88 2px solid; z-index: 1; background: #fff; position:absolute; padding:5px 5px 5px 5px;width: 85px;top: 24px!important;top: 25px;display:none;margin-left:-29px;}
#topnavbox2 p { margin: 0px;  height: auto;padding:0px;}
#topnavbox2 p a{color: #E48B88;line-height:25px;}
.menu_arrow2 {padding:5px 15px 5px 7px;Z-INDEX: 3; BACKGROUND: url(/themes/weyii/20110315/m_down.gif) no-repeat right center;  POSITION: relative;width:100px;line-height:27px;height:24px;overflow:hidden;}
.menu_arrowHover2 {border: #E48B88 2px solid;border-bottom:#e32a06 0px solid;padding:5px 13px 5px 5px;z-index: 3;
background: url(/themes/weyii/20110315/m_up.png) #fff no-repeat right center;  POSITION: relative;}


#header #middle{width:950px;margin:0 auto;}
#header #middle .logo{padding:20px 0px 20px 0px;float:left;height:44px;overflow:hidden;}
#header #middle .logo .big{float:left;height:44px;padding-top:2px;}
#header #middle .logo .smalllog{float:left;padding-top:2px;margin-left:5px;}


/*圣诞*/
#header #middle .logo_christmas{padding:0px 0px 0px 0px;float:left;height:84px;overflow:hidden;}
#header #middle .logo_christmas .big{float:left;height:84px;padding-top:2px;}
#header #middle .logo_christmas .smalllog{float:left;padding-top:2px;margin-left:5px;}

#header #middle .topsearchbox_christmas{float:left;width:460px;text-align:left;padding-top:20px;margin-left:10px;}
#header #middle .topsearchbox_christmas .input{background:url("http://img.feed.w1.cn/images/www/header/searchleft.gif") no-repeat left top;height:30px;width:216px;padding-left:30px;overflow:hidden;}
#header #middle .topsearchbox_christmas .input input{width:210px;margin-top:2px;height:22px;border:0px;line-height:22px;}
#header #middle .topsearchbox_christmas .submit{background:url("http://img.feed.w1.cn/images/www/header/searchright.gif") no-repeat left top;height:30px;width:71px;border:0px;}

#header #middle .topsearchbox_christmas .hotkeyword{margin-top:9px;color:#333;}
#header #middle .topsearchbox_christmas .hotkeyword span{margin:0 2px;}
#header #middle .topsearchbox_christmas .hotkeyword a{color:#333;}


/*圣诞*/


#header #middle .topsearchbox{float:left;width:460px;text-align:left;padding-top:20px;margin-left:80px;}
#header #middle .topsearchbox .input{background:url("http://img.feed.w1.cn/images/www/header/searchleft.gif") no-repeat left top;height:30px;width:216px;padding-left:30px;overflow:hidden;}
#header #middle .topsearchbox .input input{width:210px;margin-top:2px;height:22px;border:0px;line-height:22px;}
#header #middle .topsearchbox .submit{background:url("http://img.feed.w1.cn/images/www/header/searchright.gif") no-repeat left top;height:30px;width:71px;border:0px;}

#header #middle .topsearchbox .hotkeyword{margin-top:9px;color:#333;}
#header #middle .topsearchbox .hotkeyword span{margin:0 2px;}
#header #middle .topsearchbox .hotkeyword a{color:#333;}


#header #middle .site_info{float:right;padding-top:18px;margin-right:5px;}





#header #bottom{background:#2E2E2E;height:35px;line-height:35px;}
#header #bottom .bottomdiv{width:950px;margin:0 auto;background:#2E2E2E;height:35px;}

#header #bottom .bottomdiv .navleft{float:left;}
#header #bottom .bottomdiv .navsmall{float:left;padding-left:30px;}
#header #bottom .bottomdiv .navright{float:right;}

#header #bottom .bottomdiv .navleft a{display:block;color:#fff;text-indent:-2000px;height:39px;margin-top:-4px;position:relative;z-index: 0;}

#header #bottom .bottomdiv .xinde a{background:url("http://img.feed.w1.cn/images/www/header/mzxd.gif") no-repeat;width:93px;}


#header #bottom .bottomdiv .navright a{display:block;color:#fff;text-indent:-2000px;height:39px;margin-top:-4px;position:relative;margin-left:3px;z-index:0;}

#header #bottom .bottomdiv .mall a{background:url("http://img.feed.w1.cn/images/www/header/sc.gif") no-repeat;width:76px;}
#header #bottom .bottomdiv .moon a{background:url("http://img.feed.w1.cn/images/www/header/ygbh.gif") no-repeat;width:93px;}
#header #bottom .bottomdiv .bbs a{background:url("http://img.feed.w1.cn/images/www/header/sq.gif") no-repeat;width:76px;}

#header #bottom .bottomdiv .navsmall li{PADDING-RIGHT: 0px;float:left;background:url("http://img.feed.w1.cn/images/www/header/shuxian.gif") no-repeat right center;}
#header #bottom .bottomdiv .navsmall li:hover{background: none transparent scroll repeat 0% 0%}
#header #bottom .bottomdiv .navsmall li.last{float:left;background: none transparent scroll repeat 0% 0%}
#header #bottom .bottomdiv .navsmall li a{display:block;color:#fff;font-size:14px;padding:0 25px;line-height:35px;}
#header #bottom .bottomdiv .navsmall li a:hover{background:#505050;}
 
#header  #tnav{background:#F6F6F6; border-bottom:1px #DCDCDC solid;height:35px;line-height:35px;}
#header #tnav .tnavdiv{width:950px;margin:0 auto;height:35px;color:#999;padding-left:2px;}


#header #tnav .tnavdiv .leftnav{float:left;padding-left:10px;}

#header #tnav .tnavdiv .leftnav li{float:left;margin:0px 40px 0px 0px;}


#header #tnav .tnavdiv .leftnav li a{font-size:14px;line-height:35px;}
#header #tnav .tnavdiv .rightcart{float:right;padding-top:5px;}

#header #tnav .tnavdiv .rightcart .cartleft{float:left;background:url("/themes/weyii/20110728/cartleft.gif") no-repeat left top;height:25px;width:3px;}
#header #tnav .tnavdiv .rightcart .cartcenter{float:left;background:url("/themes/weyii/20110728/cartcenter.gif") repeat-x left top;height:25px;line-height:25px;padding:0 10px;}
#header #tnav .tnavdiv .rightcart .cartcenter #ECS_CARTINFO span{color:#cc0033;font-weight:bolder;}
#header #tnav .tnavdiv .rightcart .cartcenter .docart a{color:#cc0033;font-weight:bolder;}
#header #tnav .tnavdiv .rightcart .cartright{float:left;background:url("/themes/weyii/20110728/cartright.gif") no-repeat left top;height:25px;width:3px;}


#hidecat{position:absolute;display:none;z-index:0;border:2px #DCDCDC solid;width:666px;padding:10px;background:#fff;margin-left:-5px;margin-top:2px;}


.bgmain{clear:both;margin:0 auto;width:950px;margin-top:0px;margin-bottom:0px;background:#fff;padding-bottom:40px;}
.toparea{padding:6px;}
.toparea .left{float:left;}
.toparea .left #banner{width:690px;height:350px;}
.toparea .left img{display:block;width:690px;height:350px;}
.toparea .left #banner span{display:none;}
.toparea .left #banner span#banner_1{display:block;}

.toparea .left #banner_m{height:28px;width:690px;position:relative;margin-top:-28px;margin-left:0px;}
.toparea .left #banner_m li{float:left;text-align:center;background:#000;width:171px;margin:0px 1px 0px 0px;FILTER:alpha(opacity=40);-moz-opacity: 0.4;opacity: 0.4;}
.toparea .left #banner_m li a{height:28px;line-height:28px;color:#fff;display:block;}
.toparea .left #banner_m li#banner_m_4{width:174px;margin:0px 0px 0px 0px;}
.toparea .left #banner_m li.active{FILTER:alpha(opacity=70);-moz-opacity: 0.7;opacity: 0.7;}

.toparea .right{float:right;width:240px;}

.toparea .right .tabbox{border-left:1px #E4E4E4 solid;border-right:1px #E4E4E4 solid;border-bottom:1px #E4E4E4 solid;}
.toparea .right .tabbox .title ul{height:25px;}
.toparea .right .tabbox .title li{float:left;width:118px;height:25px;text-align:center;
line-height:25px;border-top:2px #E48B88 solid;overflow:hidden;display:block;cursor:pointer}

.toparea .right .tabbox .title .active1{border:1px #E4E4E4 solid;background:#F5F5F5;border-left:1px #F5F5F5 solid;line-height:27px;width:118px;}
.toparea .right .tabbox .title .active2{border:1px #E4E4E4 solid;background:#F5F5F5;border-right:1px #F5F5F5 solid;line-height:27px;width:118px;}

.toparea .right .tabbox .tabcont{padding:6px 5px 5px 10px;height:150px;}
.toparea .right .tabbox .tabcont li{line-height:25px;background:url(/themes/weyii/20110315/anndot.gif) no-repeat left 10px;padding-left:10px;width:200px;}



.middlearea{padding:6px;}
.middlearea .left{float:left;width:690px;}
.middlearea .left .catlist{border:1px #E7E7E7 solid;}
.middlearea .left .title{background:url(/themes/weyii/20110728/catlist_bg.gif) repeat-x;height:35px;}
.middlearea .left .title .titleleft{float:left;background:url(/themes/weyii/20110728/catlist_title.gif) no-repeat;width:137px;height:18px;margin-top:8px;margin-left:5px;_margin-left:3px;}
.middlearea .left .title .titleright{float:right;line-height:35px;margin-right:10px;color:#999;}

.cathtml {padding-top:0px;padding-left:5px;padding-right:5px;padding-bottom:5px;}
.cathtml .sonli{border-top:1px #E7E7E7 solid;;padding:2px 2px 2px 2px;}/*dotted*/
.cathtml .sonli .catname{float:left;width:50px;height:25px;background:#F2F2F2;
text-align:center;line-height:25px;}
.cathtml .sonli .catson{float:left;margin-left:10px;width:600px;line-height:25px;}
.cathtml .sonli .catson li{float:left;background:url("http://img.feed.w1.cn/images/www/wordline.gif") no-repeat left center;padding:0 12px;}
.cathtml .sonli .catson li a{color:#666;}
.cathtml .sonli .catson li a:hover{background:#666;color:#fff;}


.middlearea .left .brandlist{margin-top:10px;border:1px #E7E7E7 solid;}
.middlearea .left .brandlist .title{height:30px;}
.middlearea .left .brandlist .title li{float:left;background:#FAFAFA;width:114px;height:30px;line-height:30px;color:#666;border-right:1px #E7E7E7 solid;border-bottom:1px #E7E7E7 solid;text-align:center;cursor:pointer;overflow:hidden;}
.middlearea .left .brandlist .title li#brandlist_title_6{border-right:0px;width:113px;}
.middlearea .left .brandlist .title li.active{border-bottom:0px;background:#fff;height:30px;overflow:hidden;font-weight:bolder;color:#999;}

.brandhtml{clear:both;padding:10px 5px 0px 5px;}
.brandhtml table{height:105px;overflow:hidden;}
.brandhtml td{width:20%;padding-bottom:4px;}
.middlearea .right{float:right;width:240px;}

.productarea_1{padding:6px;}
.productarea_1 .title{}
.productarea_1 .title li{float:left;background:#FAFAFA;width:233px;height:30px;line-height:30px;color:#666;border-top:1px #e7e7e7 solid;border-left:1px #E7E7E7 solid;border-bottom:1px #E7E7E7 solid;text-align:center;cursor:pointer;}
.productarea_1 .title li#productarea_title_4{border-right:1px #E7E7E7 solid;width:234px;}
.productarea_1 .title li.active{border-bottom:1px #fff solid;background:#fff;font-weight:bolder;color:#999;}


.productarea_f{padding:6px;clear:both;}
.productarea_f .title{height:35px;border-top:2px #E3235C solid;background:#F6F7F9;overflow:hidden;}
.productarea_f .title .left{float:left;height:20px;margin-top:8px;margin-left:5px;width:165px;}

.productarea_f .title .hufu{float:left;background:url(/themes/weyii/20110728/hufu_title.gif) no-repeat left center;height:20px;margin-top:8px;margin-left:5px;width:165px;}

.productarea_f .title .caiz{background:url(/themes/weyii/20110728/caiz_title.gif) no-repeat left center;}

.productarea_f .title .meiti{background:url(/themes/weyii/20110728/bodycare_title.gif) no-repeat left center;}

.productarea_f .title .meiti{background:url(/themes/weyii/20110728/bodycare_title.gif) no-repeat left center;}

.productarea_f .title .yaoz{background:url(/themes/weyii/20110728/yaoz_title.gif) no-repeat left center;}

.productarea_f .title .xiangs{background:url(/themes/weyii/20110728/xiangs_title.gif) no-repeat left center;}


.productarea_f .title .right{float:right;padding-right:5px;}
.productarea_f .title .right li{float:left;line-height:35px;
background:url("http://img.feed.w1.cn/images/www/wordline.gif") no-repeat right center;padding:0 5px;}
.productarea_f .title .right li.last{background:0;}



.product_sale_info{margin-top:6px;}
.product_sale_info .left{float:left;}
.product_sale_info .left img{display:block;}
.product_sale_info .center{float:left;margin-left:8px;}
.product_sale_info .center img{display:block;}
.product_sale_info .right{float:right;}
.product_sale_info .right img{display:block;}
.product_sale_info .right .image_2{margin-top:8px;}
.product_sale_info .right .image_3{margin-top:8px;}

.product_list{margin-top:15px;clear:both;}
.product_list li{float:left;width:148px;margin-right:10px;margin-bottom:15px;}
.product_list li.last{margin-right:0px;}
.product_list li .product_img a{border:1px #f0f0f0 solid;width:146px;height:146px;display:block;}
.product_list li .product_img a:hover{border:1px #F0A7AC solid;}
.product_list li .product_img img{width:146px;height:146px;display:block;}
.product_list li .product_name{color: #4F4F4F;
display: block;
height: 33px;
width: 170px;
overflow: hidden;}
.product_list li .product_name:hover{color:#900;}
.product_list li .product_price{margin-top:5px;padding:0 5px;}
.product_list li .product_price .nprice{color:#CE0002;font-weight:bolder;}
.product_list li .product_price .oprice{margin-left:10px;color:#ccc;text-decoration:line-through}



.footer{clear:both;margin:0 auto;width:950px;background:#fff;margin-bottom:0px;margin-top:0px;}


.footer .title{background:#F4F4F4;height:30px;}
.footer .title li{float:left;width:190px;text-align:center;
line-height:30px;font-weight:bolder;color:#666;}



.footer .list{background:#F9F9F9}
.footer .list .firstli{float:left;width:133px;text-align:left;line-height:24px;padding-left:57px;overflow:hidden;padding-bottom:10px;padding-top:10px;}
.footer .list .firstli li{background:url("/themes/weyii/20110728/footerdot.gif") no-repeat left center;padding-left:15px;}

.footer  .bimage{margin:0px 10px 0px 10px;text-align:center;padding:8px 0px 5px 0px;}

.footer  .link{background:#F4F4F4;height:30px;line-height:30px;text-align:left;padding-left:10px;}
.footer  .link span{color:#999;}
.footer  .link span a{color:#999;}



.footerinfo{background:#EEEEEE;}
.footerinfo .footerinfo_content{margin:0 auto;width:950px;text-align:center;color:#666;line-height:24px;padding:10px 0px 5px 0px}

.footer_bottom{background:#EEEEEE;}
.footer_bottom .footer_bottom_content{margin:0 auto;width:950px;background:#EEEEEE;margin:0 auto;line-height:20px;color:#999;padding-top:10px;padding-bottom:20px;text-align:left;padding-bottom:30px;}
.footer_bottom h1{font-weight:normal;}



#cat_div{margin:0 auto;width:950px;}
#catBag{margin:0 auto;width:950px;height:30px;position:fixed; bottom:0;_position: absolute;_top:expression(documentElement.scrollTop+documentElement.clientHeight-this.clientHeight);}


#sbWrapper {width: 950px; margin: 0 auto;}
#sbHdWp { height: 29px; background: #930101; border-top: solid 1px #aa4a4a; border-left: solid 0px #aa4a4a; border-right: solid 1px #aa4a4a; font-size: 12px; line-height: 16px; color: #FFFFFF;word-spacing: 1px; letter-spacing: 0px;overflow: hidden; background-position: 2px 0;}

#sbHdWp a{ font-family:  Arial; font-size: 12px; line-height: 16px; color: #FFFFFF;word-spacing: 1px; letter-spacing: 0px;overflow: hidden; background-position: 2px 0;}
#sbHdWp .sbTxt01 { width: 159px;margin: 7px 0 0 8px;*margin: 7px 0 0 8px;_margin: 7px 0 0 8px;display:block;background-image: url(/themes/weyii/20090522/cartbag_dot.gif);background-repeat: no-repeat;background-position:0 6px;padding-left:11px;}
#sbHdWp .sbListNum {  font-size: 16px; font-weight: bold; margin: 0 2px;}
#sbHdWp .infoBlock {  width: 167px; height: 21px; background-image: url(../R6Images/R6Bag/dot02.gif); background-repeat: no-repeat;background-position:0 4px;text-align: left;margin: 7px 0 0 20px;*margin: 7px 0 0 20px;_margin: 7px 0 0 20px;padding-left:10px;}
#sbHdWp .tabBtArea5 { height: 21px;margin: 4px 0 0 50px;*margin: 4px 0 0 50px;_margin: 4px 0 0 50px;}

#sbHdWp .showBt { width: 52px;Height: 19px;margin-right: 11px;*margin-right: 11px;_margin-right: 5px;}



#sbHdWp .showBt2 { width: 110px;Height: 30px;margin-right: 0px;*margin-right: 0px;_margin-right: 0px;float: left;margin-left:40px!important;margin-left:20px;margin-right:50px;}

.btOpen2{ width: 74px;Height: 19px;margin-right:0px;background-image: url(/themes/weyii/20090522/qq.gif);background-repeat: no-repeat;display: block;margin-top:-1px;margin-right:-2px;position:absolute;}
.sbTxt01, .infoBlock, .tabBtArea,.tabBtArea5 { float: left;}
.sbNews, .showBt { float: right;}

.raised01 { width:60px;padding: 0px 2px 2px 2px; color: #000; float: left; cursor:pointer; font-family: "宋体"; }
.raised01 .boxcontent {display:block; background:#bd7373; border-top:1px solid #cf9999; border-left:1px solid #cf9999; border-right:1px solid #cf9999; text-align: center; line-height: 21px;}

