/*{edit by geyx}*/
html{background:#d2d0ce;}
.grid{margin-bottom:0px;}
.grid-rc{margin-bottom:30px;}
/*{the season new style}*/
.showtab{position:relative;height:260px;overflow:hidden;}
.showtab .item-show{height:260px;overflow:hidden;}
.showtab .item-list{height:260px;zoom:1;}
.item-tab .item-nav,.item-tab p{float:right;}
.item-tab{position:absolute;top:20px;right:20px;z-index:1} 
.item-tab p a{text-transform:uppercase;/*color:#666;*/}
.item-nav li{float:left;}
.item-nav li a{background:url(../images/newsite/sprit-hf.gif) no-repeat;background-position:0 -212px;padding:0 15px;/*color:#666;*/height:15px;line-height:15px;}
.item-nav li.on a{font-weight:700;}
.item-nav li a.fir{background:none;}
.item-list img{display:block;}
.item-show a{float:left;width:150px;height:260px;overflow:hidden;display:block;}
.item-show a.fir{width:230px;}
/*{the season new style end}*/
/*{ebooks}*/
.hp-two .g-wrap{margin-right:260px;}
.hp-two .g-side{width:250px;}
.hp-two .g-side .blog{margin-top:10px;}
.hp-two img{display:block;}
/*{ebooks end}*/
/*{edit by geyx end}*/
#Y_bigshow{
	height:490px;
	overflow:hidden;
	position:relative;
}
#Y_bigshow .tab-panel{
	position:relative;
	height:490px;
}
#Y_bigshow .tab-panel li{
	position:absolute;
}
#Y_bigshow .tab-nav-list li{
	position:relative;
}
#Y_bigshow li i{
	display:block;
	width:16px;
	height:8px;
	margin:-11px auto 0 auto;
	+left:50%;
	zoom:1;
	+width:16px;
	+position:absolute;
}
#Y_bigshow li .cur-arrow{
	width:16px;
	height:8px;
	display:none;
	background:url(../images/newsite/bigshow-pngs.png) no-repeat -14px -219px;;
	+position:relative;
	+left:-50%;
	z-index:3;
}
#Y_bigshow .li-home .cur-arrow{
}
#Y_bigshow .run-on-end .cur-arrow,
#Y_bigshow .run-on-home .cur-arrow{
	background:url(../images/newsite/bigshow-pngs.png) no-repeat -14px -261px;;
}
#Y_bigshow .tab-nav-list li span{
	display:block;
	float:left;
	text-align:center;
	padding:12px 17px 0;
	height:29px;
	position:relative;
	
}
#Y_bigshow .tab-nav{
	width:100%;
	height:73px;
	overflow:hidden;
	position:absolute;
	z-index:100;
	bottom:-75px;
	left:0;
	background:url(../images/newsite/bigshow-tab.png) repeat-x;
}
#Y_bigshow .tab-content{
}
#Y_bigshow .tab-nav-list{
	background:url(../images/newsite/bigshow-tab-x.png) repeat-x 0 5px;
	float:left;
	display:inline;
	position:relative;
	left:-50%;
	top:20px;
}
#Y_bigshow .tab-nav-list li{
	float:left;
}
#Y_bigshow .tab-nav-list li .r-b{
	background:url(../images/newsite/bigshow-pngs.png) no-repeat right -122px;
}
#Y_bigshow .tab-nav-list li a{
	outline:none;
	display:block;
	line-height:19px;
	float:left;
}
#Y_bigshow a{
	color:#2b2722;
}
#Y_bigshow a:hover {
}
#Y_bigshow .tab-nav-list .tab-nav-active a{
	color:#bd3a62;
}
#Y_bigshow .tab-nav-list .li-home{
	background:url(../images/newsite/bigshow-pngs_20110923.png) no-repeat 0 5px;
	background:url(../images/newsite/bigshow-pngs_20110923.png) no-repeat 0 5px;
	margin-left:-8px;
	padding-left:5px;
}
#Y_bigshow .tab-nav-list .run-on-home{
    background-position:0 -278px;
}
#Y_bigshow .tab-nav-list .li-end{
	background:url(../images/newsite/bigshow-pngs.png) no-repeat right -36px;
	margin-right:-8px;
}
#Y_bigshow .tab-nav-list .run-on-end{
	background:url(../images/newsite/bigshow-pngs.png) no-repeat right -77px;
}
#Y_bigshow .tab-nav-list .li-home a{

}
#Y_bigshow .tab-nav-list .li-end a{
}
#Y_bigshow .tab-nav-list .run-on{
	background:url(../images/newsite/bigshow-tab-spe-x.png) repeat-x 0 5px;
}
#Y_bigshow .tab-nav-list .li-end .run-on{
	margin-right:8px;
	_margin-right:4px;
	padding-right:10px;
}
#Y_bigshow .tab-nav-list .li-home .run-on{
    margin-right:0;
    padding-right:15px;
}
#Y_bigshow .tab-nav-list .run-on em{
	display:block;
	float:left;
	/*background:url(bigshow-pngs.png) no-repeat 0 -159px;*/
}
#Y_bigshow .tab-nav-list .run-on a{
	color:#fff;
}
#Y_bigshow .tab-panel li{overflow:hidden;}
#Y_bigshow .tab-panel li a{
	display:block;
	background:#ffffff url(../images/newsite/loading.png) repeat;
	overflow:hidden;
	zoom:1;
}
#Y_bigshow .tab-panel .mask-layer{
	background:#000;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	opacity:0;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
	transition:opacity 0.2s linear;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
}
.w490h490,
.w490h490 a{
    width:490px;
    height:490px;
}
.w490h280,
.w490h280 a{
    width:490px;
    height:280px;    
}
.w280h280,
.w280h280 a{
    width:280px;
    height:280px;    
}
.w210h280,
.w210h280 a{
    width:210px;
    height:280px;    
}
.w560h490,
.w560h490 a,
.w560h490 .mask-layer{
	width:560px;
	height:490px;
}
.w210h140,
.w210h140 a,
.w210h140 .mask-layer{
	width:210px;
	height:140px;
}
.w210h350,
.w210h350 a,
.w210h350 .mask-layer{
	width:210px;
	height:350px;
}
.w560h490,
.w560h490 a,
.w560h490 .mask-layer{
	width:560px;
	height:490px;
}
.w560h350 a,
.w560h350 .mask-layer{
	width:560px;
	height:350px;
}
.w350h140 a,
.w350h140 .mask-layer{
	width:350px;
	height:140px;
}
.w420h140,
.w420h140 a,
.w420h140 .mask-layer{
	width:420px;
	height:140px;
}
.w420h350,
.w420h350 a,
.w420h350 .mask-layer{
	width:420px;
	height:350px;
}
.w350h490,
.w350h490 a,
.w350h490 .mask-layer{
	width:350px;
	height:490px;
}
.w350h280,
.w350h280 a,
.w350h280 .mask-layer{
	width:350px;
	height:280px;
}
.w210h210,
.w210h210 a,
.w210h210 .mask-layer{
	width:210px;
	height:210px;
}
.w140h210,
.w140h210 a,
.w140h210 .mask-layer{
	width:140px;
	height:210px;
}
.w280h490,
.w280h490 a,
.w280h490 .mask-layer{
	width:280px;
	height:490px;
}
.w630h490,
.w630h490 a,
.w630h490 .mask-layer{
	width:630px;
	height:490px;
}
.w350h280,
.w350h280 a,
.w350h280 .mask-layer{
	width:350px;
	height:280px;
}
.w350h210,
.w350h210 a,
.w350h210 .mask-layer{
	width:350px;
	height:210px;
}

